<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="SolutionCodeAnalysis" Description="" ToolsVersion="10.0">
  <Localization ResourceAssembly="Microsoft.VisualStudio.CodeAnalysis.RuleSets.Strings.dll" ResourceBaseName="Microsoft.VisualStudio.CodeAnalysis.RuleSets.Strings.Localized">
    <Name Resource="MinimumRecommendedRules_Name" />
    <Description Resource="MinimumRecommendedRules_Description" />
  </Localization>
  <Rules AnalyzerId="Microsoft.NetCore.Analyzers" RuleNamespace="Microsoft.NetCore.Analyzers">
    <Rule Id="CA1303" Action="None" /> <!-- Do not pass literals as localized parameters -->
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <!-- https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/StyleCop.Analyzers/StyleCop.Analyzers.CodeFixes/rulesets/StyleCopAnalyzersDefault.ruleset -->
    <Rule Id="SA1009"  Action="None" />          <!-- Closing parenthesis should be spaced correctly -->
    <Rule Id="SA1101"  Action="None" />          <!-- Prefix local calls with this -->
    <Rule Id="SA1111"  Action="None" />          <!-- Closing parenthesis should be on line of last parameter -->
    <Rule Id="SA1124"  Action="None" />          <!-- Do not use regions -->
    <Rule Id="SA1201"  Action="None" />          <!-- Elements should appear in the correct order -->
    <Rule Id="SA1202"  Action="None" />          <!-- Elements should be ordered by access -->
    <Rule Id="SA1204"  Action="None" />          <!-- Static elements should appear before instance elements -->
    <Rule Id="SA1214"  Action="None" />          <!-- Readonly fields should appear before non-readonly fields -->
    <Rule Id="SA1402"  Action="None" />          <!-- File may only contain a single type -->
    <Rule Id="SA1502"  Action="None" />          <!-- Element should not be on a single line -->
    <Rule Id="SA1512"  Action="None" />          <!-- Single-line comments should not be followed by blank line -->
    <Rule Id="SA1513"  Action="None" />          <!-- Closing brace should be followed by blank line -->
    <Rule Id="SA1515"  Action="None" />          <!-- Single-line comment should be preceded by blank line -->
    <Rule Id="SA1623"  Action="None" />          <!-- Property summary documentation should match accessors -->
    <Rule Id="SA1624"  Action="None" />          <!-- Property summary documentation should omit accessor with restricted access -->
    <Rule Id="SA1633"  Action="None" />          <!-- File should have header -->
    <Rule Id="SA1642"  Action="None" />          <!-- Constructor summary documentation should begin with standard text -->
    <Rule Id="SA1643"  Action="None" />          <!-- Destructor summary documentation should begin with standard text -->
  </Rules>
</RuleSet>